.selected-photo-container {
    position: fixed;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.screen {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 20%);
    z-index: -1;
    transition: .4s;
}