.album-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    min-height: 250px;
    border-radius: 16px;
    box-shadow: 0 16px 40px 0 rgb(0 0 0 / 18%);
}

.album-container.open {
    z-index: 10;
    background: linear-gradient(180deg,#adabff,#57e5b2);
}

.data {
text-align: left;
}

.data > p > span {
font-weight: 600;
}

.album-title{
    margin: 0 0 1rem;
}


.album-info-container{
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(4, 110px);
    gap: .5rem;
    width: 100%;
}

.cta {
    width: 136px;
    height: 44px;
    min-width: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    border: 1px solid #adabff;
    background-color: #fff;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 12%);
    transition: .4s;
    color: #6663d8;
}

.cta:hover {
    box-shadow: 0 8px 20px 0 rgb(102 99 216 / 20%), 0 16px 24px 0 rgb(0 0 0 / 8%);
    color: #08ce8a;
}